
{% extends "base.html" %}

{% block app_content %}
<a class="btn btn-warning home" href="{{ url_for('index')}}">На главную</a>
<a class="btn btn-info refresh" href="{{ url_for('live')}}">Создать жизнь</a>
<br>
        <table class='world'>
            {% for i in range(game.world|length) %}
                <tr>
                {% for j in range(game.world[i]|length) %}
                    {% if game.world[i][j] == 1 %}
                        <td class="living-cell cell"></td>
                    {% else %}
                        <td class="cell"></td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
{% endblock %}



